<% if (title) { %>
    <h1 id="order-title">
        <%= title %>
    </h1>
    <%- messages() %>
        <% } else { res.redirect('/') } %>
            <% if (accountData.account_type === "Admin" || accountData.account_type === "Employee") { %>
                <div id="orders-list">
                    <% orders.forEach(order => { %>
                        <div class="order">
                            <h2>
                               Order Nro: <%= order.order_id %>
                            </h2>
                            <p>
                               From User: <br><%= order.account_fullname %>
                            </p>
                            <p>
                                Order Date: <br><%= new Date(order.order_date).toLocaleDateString("en-US") %>
                            </p>
                            <p>
                                Car: <br><%= order.car_name %>
                            </p>
                            <p>
                               Order Status: <br><%= order.order_status %>
                            </p>
                        </div>
                    <% }); %>
                </div>
                    <% } else { res.redirect('/') } %>