<% if (title) { %>
    <h1 id="order-title">
        <%= title %>
    </h1>
    <%- messages() %>
        <% } else { res.redirect('/') } %>
            <% if (accountData.account_type === "Admin" || accountData.account_type === "Employee") { %>
                <div id="orders-list">
                    <% orders.forEach(order => { %>

                        // Process each element here
                        <div class="order">
                            <h2>
                                Nro: <%= order.order_id %>
                            </h2>
                            <p>
                               From: <%= order.account_id %>
                            </p>
                            <p>
                                <%= order.order_date %>
                            </p>
                            <p>
                                <%= order.inv_id %>
                            </p>
                            <p>
                                <%= order.order_status %>
                            </p>
                        </div>
                    <% }); %>
                </div>
                    <% } else { res.redirect('/') } %>